.u-section-1 .u-sheet-1 {
  min-height: 264px;
}

.u-section-1 .u-text-1 {
  margin: 28px 103px;
}.u-section-2 .u-sheet-1 {
  min-height: 430px;
}

.u-section-2 .u-form-1 {
  height: 353px;
  width: 570px;
  margin: 39px auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}