 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/twin.jpg");
  background-position: 50% 22.87%;
}

.u-section-1 .u-sheet-1 {
  min-height: 613px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  width: 627px;
  margin: 243px 257px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 627px;
  margin: 69px 257px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  background-image: none;
  margin: 30px auto 30px 457px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 157px;
    margin-right: 157px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 157px;
    margin-right: 156px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 257px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 47px;
    margin-right: 46px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 587px;
}

.u-section-2 .u-line-1 {
  width: 912px;
  margin: 23px auto 0 95px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 97px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 34px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 431px;
  background-image: url("images/8e1a4b39c9204c538dcf571523df4215.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 41px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -3px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 17px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-2 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 272px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
    margin-top: 398px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -360px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 408px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
    margin-top: 227px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -189px;
  }

  .u-section-2 .u-image-1 {
    min-height: 257px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 578px;
}

.u-section-3 .u-line-1 {
  width: 912px;
  margin: 10px auto 0 97px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 400px;
  margin: 10px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 22px auto 60px 0;
}

.u-section-3 .u-image-1 {
  min-height: 431px;
  background-image: url("images/jetcat.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 431px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 97px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 34px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 32px;
    margin-left: 28px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 11px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 355px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 22px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 272px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
    margin-top: 337px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -294px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 408px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
    margin-top: 166px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: -123px;
  }

  .u-section-3 .u-image-1 {
    min-height: 257px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 638px;
}

.u-section-4 .u-line-1 {
  width: 912px;
  position: absolute;
  top: 28px;
  left: 93px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 18px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 75px 31px 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 31px 21px 0;
}

.u-section-4 .u-image-1 {
  min-height: 431px;
  background-image: url("images/softball.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-4 .u-line-1 {
    height: 3px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 17px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 272px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 408px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 257px;
  }
}